{% extends "base.html" %}

{% block title %} About {% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center"> <!-- İçeriği ortalar -->
        <div class="col-lg-8"> <!-- Kartın genişliğini sınırlamak için kolon genişliği ayarlar -->
            <h1 class="text-center mb-4">Hakkımızda</h1> <!-- Başlığı ortalar ve altına boşluk ekler -->
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://simeranya.com.tr/temalar/simeranya/assets/images/about_us.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Simeranya</h5>
                      <p class="card-text">Simeranya, ajans ve yazılım konusunda 20 yılı aşkın tecrübeye sahip iki girişimin birleşmesiyle 2020 yılında kuruldu.
                        Birbirinden farklı sektörlerde yerel ve global ölçekteki önemli kurum ve kuruluşlar ile çalışarak gün geçtikçe büyümektedir.
                        Üstlendiğimiz projeleri özveri, kaliteli hizmet ve müşteri memnuniyeti odaklı yaklaşımla ele alıyor, başarıyla sonuçlandırıyoruz.
                        Sunduğumuz teknoloj ve yazılım, kurumsal tasarım ve dijital pazarlama hizmetleri ile dijital dünyada müşterilerimiz ile birlikte yürüyor ve güçleniyoruz.
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center"> <!-- İçeriği ortalar -->
        <div class="col-lg-8"> <!-- Kartın genişliğini sınırlamak için kolon genişliği ayarlar -->
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-8"> <!-- Yazıyı sol tarafa yerleştir -->
                    <div class="card-body">
                      <h5 class="card-title">Simeranya</h5>
                      <p class="card-text">İşimizin temelinde müşteri odaklılık ve yüksek kalite anlayışı ile esneklik, sosyal sorumluluk, inovasyon ve etik değerlere bağlılık bulunuyor. Müşteri memnuniyetini ön planda tutarak sürekli gelişmeyi hedefliyor ve topluma karşı sorumluluğumuzu yerine getiriyoruz. Hızla değişen pazar koşullarına uyum sağlamak için esnek çözümler sağlarız. Uyarlanabilir çözümler üretmek için farklı perspektiflere değer veririz.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4"> <!-- Görseli sağ tarafa yerleştir -->
                    <img src="https://simeranya.com.tr/temalar/simeranya/assets/images/about_us.jpg" class="img-fluid rounded-end" alt="...">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
