{% extends "base.html" %}
{% load static %}


{% block title %} Anasayfa {% endblock %}


{% block content %}

    <!-- Slider -->
    {% include 'partials/_slider.html' %}
    

<div class="container mt-3">
    <div class="row">

        <div class="col-3">
            <h3>Hizmetlerimiz</h3>
            <div class="list-group mb-5">
                {% for hizmet in hizmetler %}
                    <a href="#" class="list-group-item list-group-item-action">
                        {{ hizmet.name }}
                    </a>
                {% endfor %}
            </div>
            <h4>Esnek. Yenilikçi</h4>
            <p>Kurumsal ihtiyaçlara esnek, yenilikçi ve ölçeklenebilir çözümler</p>
            <p>Sunduğumuz yenilikçi çözümlerle müşterilerimizin başarısını her zaman ön planda tutuyoruz. Uzman ekibimiz, güçlü bir strateji geliştirme ve uygulama yeteneğiyle işletmenizin dijital varlığını güçlendiriyor. Müşteri odaklı yaklaşımımızla, iş ortaklarımızın ihtiyaçlarını anlayıp en uygun çözümleri sunuyoruz.</p>
        </div>

        <div class="col-9">
          <h3>Çözümlerimiz</h3>
            <div class="row">
                {% for cozum in cozumler %}
                {% if cozum.homepage %}
            <div class="col-4">
                {% include 'partials/_solution.html' %}
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
