{% extends "base.html" %}

{% block title %} Misyonumuz ve Vizyonumuz {% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="row">

        <h1>Misyonumuz ve Vizyonumuz</h1>
        <div class="card mb-3">
            <img src="https://simeranya.com.tr/temalar/simeranya/assets/images/our_vision.jpg" class="card-img-top custom-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Misyonumuz</h5>
                <p class="card-text">Tüm hizmet ve çözümlerimizi müşteri ihtiyaçlarını doğru analiz ederek ve beklentilerini en iyi şekilde karşılayarak toplam kalite anlayışıyla sunmayı, meslekî ve toplumsal etik kurallara bağlı, toplumsal faydayı gözeten, güvenilir, yetenekli ekiplerin topluma kazandırılmasını sağlamayı amaç edindik.
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="https://simeranya.com.tr/temalar/simeranya/assets/images/our_mission.jpg" class="card-img-top custom-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vizyonumuz</h5>
                <p class="card-text">
                    Paydaşlarımızla birlikte, dokunduğumuz her alanda “daha iyi bir dünya” inşa etmek istiyoruz.
                </p>
            </div>
        </div>
        <style>
            .custom-img {
                width: 100%;
                height: 450px;
                object-fit: cover; 
            }
        </style>

    </div>
</div>

{% endblock %}
