{% extends "base.html" %}

{% block title %} Politikalarımız {% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-4">Politikalarımız</h1>
            <div class="card">
                <img src="https://simeranya.com.tr/temalar/simeranya/assets/images/our_principles.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ne Yapıyoruz</h5>
                    <p class="card-text">Yazılım, dijital pazarlama ve kurumsal tasarım alanındaki uzman ekibimiz, işletmenizi geleceğe taşımak için yaratıcı ve işlevsel çözümler sunuyor.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bilgi Güvenliği Politikamız</li>
                    <li class="list-group-item">Çerez Politikamız</li>
                    <li class="list-group-item">Gizlilik Politikamız</li>
                    <li class="list-group-item">Entegre Politikamız</li>
                    <li class="list-group-item">Kalite Politikamız</li>
                    <li class="list-group-item">Kullanım Koşulları</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
