{% extends "base.html" %}
{% load static %}


{% block title %} Çözümlerimiz {% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <h5>Kurumsal yazılım ihtiyaçlarına esnek ve sürdürülebilir çözümler üretiyoruz</h5>
        <h1>Yazılım Çözümlerimiz.</h1>
        <p>Çeşitli alanlarda geliştirdiğimiz yazılım çözümlerimiz ile kurumsal ihtiyaçlara esnek, sürdürülebilir ve ölçeklendirilebilir çözümler sağlıyoruz.</p>

        <div class="col-9">
            <div class="row">
                {% for cozum in cozumler %}
                    <div class="col-4">
                        {% include 'partials/_solution.html' %}
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>

{% endblock %}
