
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2024 Simeranya, Inc</p>
      <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0">
        <a href="#">
          <img src="/static/img/logo_renkli.png" alt="Simeranya Logo" style="height: 45px;">
        </a>
      </div>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Anasayfa</a></li>
        <li class="nav-item"><a href="{% url 'solutions' %}" class="nav-link px-2 text-muted">Çözümlerimiz</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">Hakkımızda</a></li>
      </ul>
    </footer>
</div>
